* {
    box-sizing: border-box;
}

// Typography
h1 {
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
}

.quote {
    font-style: italic;

    &-lg {
        font-size: 2.25rem;
        font-weight: 600;
    }
}

.attribution {
    font-weight: 400;

    &-lg {
        font-size: 1.5rem;
    }
}

.metatext {
    font-size: 1rem;
    font-weight: 400;
}

.imgMask {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
}

#siteHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

    #site-branding {
        color: inherit;
        text-decoration: none;
    }

    #site-title {
        font-size: 2rem;
        font-weight: 600;
        margin: 0
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1.88rem;
        margin: 0;
    }
}

.nav-item {
    a {
        color: inherit;
        text-decoration: none;

        h5 {
            margin: 0;
        }
    }
}

nav {
    ul {
        list-style: none;
        padding-inline-start: 0;
    }
}