.featuredQuote {
    color: white;
    width: fit-content;
}

.quote {
    text-align: center;
    width: fit-content;
    max-width: 910px;
    margin-left: auto;
    margin-right: auto;
}

.attribution {
    text-align: right;
    // padding-right: 1rch;
}